# Secrets
.env
*.env
*.key

# Build and Target directories
target/
*.jar
*.war
*.ear
*.class

# Python virtual environment and cache
venv/
.venv/
__pycache__/
*.pyc

# IDE and OS files
.DS_Store
.idea/
.vscode/
*.swp

# Log files
*.log
